.grid-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 1rem 2rem;
}

.list-flex {
  width: 85%;
  display: block;
  margin: 1rem auto;
}

@media only screen and (max-width: 1000px) {
  .list-flex {
    width: auto;
  }

  .tabHeading {
    font-size: 90% !important;
  }
}