.footer {
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(31, 83, 198, 1) 0%,
      rgba(0, 212, 255, 1) 100%);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  height: auto;
  margin: 0rem 1.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-right: 1rem;
}

.socials-icon {
  color: var(--white);
  cursor: pointer;
  font-size: 2rem !important;
  transition: all 0.2s ease-in-out !important;
}

.socials-icon:hover {
  transform: scale(1.2);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    margin: 1rem 0.5rem;
    border-radius: 0.5rem;
  }

  .footer h2 {
    font-size: 80%;
  }

  .socials-flex {
    gap: 0.5rem;
  }

  .socials-icon {
    font-size: 1rem !important;
  }
}